LTM Appliance,Virtual_Server,Virtual_Server_IP,Port,Virtual_Server_Description,Enabled,Availability_Status,Status_Reason,Healthcheck_Type,Pool
{{ inventory_hostname }},{{ device_facts['virtual_servers'][0]['name'] }},{{ device_facts['virtual_servers'][0]['destination_address'] }},{{ device_facts['virtual_servers'][0]['destination_port'] }},{{ device_facts['virtual_servers'][0]['description'] }},{{ device_facts['virtual_servers'][0]['enabled'] }},{{ device_facts['virtual_servers'][0]['availability_status']  }},{{ device_facts['virtual_servers'][0]['status_reason'] }},{{ device_facts['ltm_pools'][0]['monitors'] }},
